h2,
h3 {
  color: darkmagenta;
  font-family: "Lora", serif;
  font-family: "Qwitcher Grypen", cursive;
}

li,
p {
  color: blue;
}

body {
  background-color: pink;
}

footer {
  color: darkorchid;
}
